./mini_kms/part_1/certificate.pem
mini_kms/part_1/certificate.pem
mini_kms/part_1/enclave/enclave.o
mini_kms/part_1/enclave/enclave
mini_kms/part_1/enclave/enclave.signed
mini_kms/part_1/enclave/kms_args.h
mini_kms/part_1/enclave/kms_t.c
mini_kms/part_1/enclave/kms_t.h
mini_kms/part_1/enclave/kms_t.o
mini_kms/part_1/enclave/private.pem
mini_kms/part_1/enclave/public.pem
mini_kms/part_1/host/host.o
mini_kms/part_1/host/kms_args.h
mini_kms/part_1/host/kms_host
mini_kms/part_1/host/kms_u.c
mini_kms/part_1/host/kms_u.h
mini_kms/part_1/host/kms_u.o
./mini_kms/part_1/private_key.key
mini_kms/part_1/private_key.key
mini_kms/part_1/enclave/mongoose.o

.vscode/settings.json

# part2 
./mini_kms/part_2/certificate.pem
mini_kms/part_2/certificate.pem
mini_kms/part_2/enclave/enclave.o
mini_kms/part_2/enclave/enclave
mini_kms/part_2/enclave/enclave.signed
mini_kms/part_2/enclave/kms_args.h
mini_kms/part_2/enclave/kms_t.c
mini_kms/part_2/enclave/kms_t.h
mini_kms/part_2/enclave/kms_t.o
mini_kms/part_2/enclave/private.pem
mini_kms/part_2/enclave/public.pem
mini_kms/part_2/host/host.o
mini_kms/part_2/host/kms_args.h
mini_kms/part_2/host/kms_host
mini_kms/part_2/host/kms_u.c
mini_kms/part_2/host/kms_u.h
mini_kms/part_2/host/kms_u.o
./mini_kms/part_2/private_key.key
mini_kms/part_2/private_key.key
mini_kms/part_2/enclave/mongoose.o