[submodule "mini_kms/part_1/mongoose"]
	path = mini_kms/part_1/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "mini_kms/part_2/mongoose"]
	path = mini_kms/part_2/mongoose
	url = https://github.com/cesanta/mongoose.git
